.next
node_modules
.env
data/*
!data/.gitkeep
!data/app/
!data/postgres/
!data/redis/
!data/minio/
!data/minio-config/
data/app/*
data/postgres/*
data/redis/*
data/minio/*
data/minio-config/*
!data/app/.gitkeep
!data/postgres/.gitkeep
!data/redis/.gitkeep
!data/minio/.gitkeep
!data/minio-config/.gitkeep
dist
coverage
*.log
storage/runtime
data/